:host {
  display: block;
}

mat-toolbar {
  justify-content: space-between;
  padding: 10px 50px;
  height: 80px;
}

.nav-block {
  display: flex;
  align-items: center;
  flex: 1 1 33%;
}

.nav-block img {
  width: 180px;
  
}

.nav-block__search-bar {
  margin: auto;
}

.nav-block__favorite-btn {
  margin-left: auto;
}