:host {
  display: block;
}

mat-toolbar {
  justify-content: space-between;
  padding: 10px 50px;
  height: 80px;
}

.nav-block {
  display: flex;
  align-items: center;
}

.nav-block img {
  width: 180px;
  
}

.favorite-icon {
  width: 180px;
}