<mat-toolbar>
    <!-- Поправить верстку чтобы два блока распологались отдаленно друг от друга -->
  <div class="nav-block">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/icons/logo.png" alt="">
  </div>
  <div class="nav-block">
    <app-search-bar></app-search-bar>
  </div>
  <div class="nav-block">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
