:host {
  display: block;
}

mat-toolbar {
  justify-content: space-between;
  padding: 10px 50px;
  height: 80px;
}

.nav-block {
  display: flex;
  align-items: center;
  flex: 1 1 33%;
}

.nav-block img {
  width: 180px;
  
}

.nav-block__search-bar {
  margin: auto;
}

.profile {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.profile div {
  margin-right: 10px;
  font-size: 18px;
  color: #004071;
}

.btn-logout {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  width: 90px;
  height: 30px;
  border: 0.5px solid #000000;
  border-radius: 8px;
  background-color: rgba(244, 91, 105, 1);
}