:host {
  display: block;
}

.login-card {
  max-width: 500px;
  min-height: 400px;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #004071;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px #c1c1c1;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

