  <mat-form-field appearance="fill">
    <input matInput [formControl]="searchInput"
            placeholder="Search..."
            [matAutocomplete]="auto">
    <mat-autocomplete (optionSelected)="onSelect($event)"  autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of options$ | async" [value]="option | TrOptionToString">
        <!-- same names respond with one weather only -->
        {{option | TrOptionToString}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Enter your city or country</mat-hint>
  </mat-form-field>

