<ng-container  *appLoader="isLoading$ | async">
    <ng-container *ngIf="weather$ | async as weather; else placeholder">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Current">
                <app-current-card [weather]="weather"></app-current-card>
            </mat-tab>
            <mat-tab label="Forecast">
                <app-forecast-card [weather]="weather"></app-forecast-card>
            </mat-tab>
        </mat-tab-group>    
    </ng-container>
</ng-container>
<ng-template #placeholder>
    <app-placeholder></app-placeholder>
</ng-template>