
.placeholder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 150px auto;
    align-items: center;
  }
  
  img {
    height: 500px;
  }
  
  p {
    font-size: 50px;
    margin-top: 50px;
  }